In [1]:
library(csvwr)

rootUrl <- "https://raw.githubusercontent.com/gjhltn/PlatformDemoBinder/main/data/"
ds <- "life-expectancy"

csvFile <- paste(ds, ".csv", sep = "")
jsonFile <- paste(ds, ".json", sep = "")

csvUrl <- paste(rootUrl, csvFile, sep = "")
download.file(csvUrl,csvFile)

jsonUrl <- paste(rootUrl, jsonFile, sep = "")
download.file(jsonUrl,jsonFile)

df <- read_csvw_dataframe(csvFile, jsonFile)
df

   area      period                  sex    life_expectancy
1  W06000022 2004-01-01T00:00:00/P3Y Male   76.7
2  W06000022 2004-01-01T00:00:00/P3Y Female 80.7
3  W06000022 2005-01-01T00:00:00/P3Y Male   77.1
4  W06000022 2005-01-01T00:00:00/P3Y Female 80.9
5  W06000022 2006-01-01T00:00:00/P3Y Male   77.0
6  W06000022 2006-01-01T00:00:00/P3Y Female 81.5
7  W06000015 2004-01-01T00:00:00/P3Y Male   78.1
8  W06000015 2004-01-01T00:00:00/P3Y Female 83.3
9  W06000015 2005-01-01T00:00:00/P3Y Male   78.6
10 W06000015 2005-01-01T00:00:00/P3Y Female 83.7
11 W06000015 2006-01-01T00:00:00/P3Y Male   78.7
12 W06000015 2006-01-01T00:00:00/P3Y Female 83.4
13 W06000021 2004-01-01T00:00:00/P3Y Male   76.2
14 W06000021 2004-01-01T00:00:00/P3Y Female 81.3
15 W06000021 2005-01-01T00:00:00/P3Y Male   76.5
16 W06000021 2005-01-01T00:00:00/P3Y Female 81.1
17 W06000021 2006-01-01T00:00:00/P3Y Male   76.6
18 W06000021 2006-01-01T00:00:00/P3Y Female 81.7
19 W06000024 2004-01-01T00:00:00/P3Y Male   75.5
20 W06000024 2004-01-01T00:00:00/P3Y Female 79.1
21 W06000024 2005-01-01T00:00:00/P3Y Male   75.4
22 W06000024 2005-01-01T00:00:00/P3Y Female 79.4
23 W06000024 2006-01-01T00:00:00/P3Y Male   74.9
24 W06000024 2006-01-01T00:00:00/P3Y Female 79.6